{% extends 'base.html.twig' %}

{% block title %}Acts{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-5 mb-3">Show acts</h2>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-info float-right" href="{{ path('app_acts_index') }}">
                View All acts
            </a>
        </div>
        <div class="card-body">
            <b class="text-muted">Name:</b>
            <p>{{ act.name }}</p>
            <b class="text-muted">Description:</b>
            <p>{{ act.description }}</p>
            <b class="text-muted">Image:</b>
        {% if act.imageFileName is not null %}
            <img src="{{ asset('uploads/acts/' ~ act.imageFileName) }}" />
        {% else %}
             <p>No image available</p>
        {% endif %}<br>
            <b class="text-muted">date and time:</b>
            <p>{{ act.date ? act.date|date('Y-m-d H:i:s') : '' }}</p>
            {{ include('acts/_delete_form.html.twig') }}
{% endblock %}